@media (max-width: 1200px) {
  .form__left {
    flex-direction: column;
  }
  .form__input {
    width: 100%;
  }
}

/* 1024px - */

@media (max-width: 992px) {
  /* header */
  .header__nav {
    display: none;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: var(--medium-blue);
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .header__btn {
    margin-right: 7px;
    padding: 11px 21px;
  }

  /* hero */
  .hero__content {
    width: 75%;
  }

  /* services */
  .services__items {
    --offsets: 2;
  }

  /* clients */
  .clients__items {
    --offsets: 1;
  }

  /* footer */
  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    margin-bottom: var(--gap);
  }
}

@media (max-width: 768px) {
  /* services */
  .services__items {
    --offsets: 1;
  }

  /* articles */
  .blog-preview__link {
    flex-direction: column;
  }

  /* form */
  .form {
    padding: 0;
  }

  /* footer */
  .footer__item:not(:last-child) {
    margin-right: 18px;
  }

  .footer__nav {
    margin-right: 25px;
  }

  .footer__link {
    font-size: 1.4rem;
  }
}

/* 576px mobile */
@media (max-width: 576px) {
  :root {
    --gap: 15px;
  }

  /* global */
  .section-offset {
    padding: 61px 0;
  }

  .section__descr {
    margin-bottom: 18px;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 0.1px;
  }
  /* header */
  .header {
    padding: 15px 0;
  }
  .header__logo {
    width: 80px;
  }

  /* hero */
  .hero {
    padding-top: 31px;
    padding-bottom: 0;
    background-image: none;
  }

  .hero__content {
    width: 100%;
  }

  .hero__title {
    margin-bottom: 13px;
  }

  .hero__descr {
    margin-bottom: 13px;
    width: 100%;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    width: inherit;
  }

  /* services */
  .services__title {
    margin-bottom: 16px;
    text-align: left;
  }

  .services__items {
    row-gap: 19px;
  }

  .services__item {
    padding: 15px;
    min-height: 222px;
  }

  .services__item-title {
    margin-bottom: 3px;
    font-size: 1.6rem;
  }

  .services__item-descr {
    font-size: 1.2rem;
  }

  .services__item-icon {
    margin-bottom: 12px;
    height: 42px;
  }

  /* articles */
  .articles__title {
    margin-bottom: 11px;

  }
  .articles__items {
    --offsets: 0;
  }

  .blog-preview {
    min-height: 191px;
    border-radius: 5px;
  }

  .blog-preview__link {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .blog-preview__image {
    flex-shrink: 0;
    width: 86px;
    height: 100%;
  }

  .blog-preview__text {
    padding: 13px;
  }

  .blog-preview__time {
    display: block;
    margin-bottom: 3px;
  }

  .blog-preview__title {
    margin-bottom: 4px;
  }
  /* clients */
  .clients__title {
    margin-bottom: 15px;
  }

  .clients__items {
    --offsets: 0;
  }

  .clients__item {
    padding: 18px
  }

  .clients__text {
    margin-bottom: 31px;
  }

  .clients__user {
    padding: 0;
    padding-top: 25px;
  }

  .clients__name {
    line-height: 1.3;
  }

  .clients__avatar {
    margin-right: 12px;
  }

  /* contacts*/
  .contacts__title {
    margin-bottom: 13px;
  }

  .contacts__items {
    --offsets: 0;
  }

  .contacts__item {
    padding-top: 40px;
  }

  .contacts__caption {
    margin-bottom: 9px;
  }

  /* join-us */
  .join-us__title {
    margin-bottom: 13px;
    text-align: left;
  }
  /* footer */
  .footer__right {
    flex-direction: column;
  }
}
