@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
      url("../fonts/OpenSans-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
      url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
      url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-blue: #0e3b6c;
  --medium-blue: #3172b9;
  --light-blue: #71a7e2;
  --disabled-color: #c4c4c4;
  --curent-color: #787878;
  --active-text: #ffffff;
  --header-color: #1c1c1c;
  --border-color: #dadada;
  --borderCard-color: #e4e4e4;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--curent-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 16px 35px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--active-text);
  background-color: var(--medium-blue);
  border-radius: 3px;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  border-bottom: 1px solid var(--border-color);
}

.section__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--header-color);
}

.section__descr {
  margin: 0;
  margin-bottom: 58px;
  text-align: center;
  font-size: 1.6rem;
}

/* header */
.header {
  padding: 29px 0;
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
  padding-top: 5px;
}

.header__nav {
  margin-right: 53px;
}

.header__list {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--header-color);
}

.header__item:not(:last-child) {
  margin-right: 53px;
}

/* hero */
.hero {
  padding-top: 113px;
  padding-bottom: 134px;
  border-bottom: none;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__content {
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.hero__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--header-color);
}

.hero__descr {
  margin: 0;
  margin-bottom: 32px;
  width: 84%;
  font-size: 1.6rem;
  line-height: 1.6;
}

.hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  padding: 21px 58px;
}


.hero__secure {
  padding-left: 27px;
  font-size: 1.1rem;
  line-height: 1.5;
  text-transform: uppercase;
  background-image: url("../images/hero-secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
}

/* services */
.services__title {
  text-align: center;
  margin-bottom: 20px;
}

.services__item {
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 5px;
  border: 1px solid var(--borderCard-color);
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__item-icon {
  margin-bottom: 25px;
}

.services__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--header-color);
}

.services__item-descr {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

/* articles */
.articles__title {
  margin-bottom: 43px;
}

.articles__items {
  flex-wrap: wrap;
  gap: 30px;
}

.blog-preview__image {
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.blog-preview__text {
  padding: 20px 30px;
  min-width: 400px;
  border: 1px solid var(--borderCard-color);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blog-preview__time {
  font-size: 1rem;
  line-height: 1.5;
}


.blog-preview__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--header-color);
}

.blog-preview__descr {
  margin: 0;
  max-width: 210px;
  line-height: 1.5;
}
