@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
      url("../fonts/OpenSans-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
      url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
      url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-blue: #0e3b6c;
  --medium-blue: #3172b9;
  --light-blue: #71a7e2;
  --disabled-color: #c4c4c4;
  --current-color: #787878;
  --active-text: #ffffff;
  --header-color: #1c1c1c;
  --border-color: #dadada;
  --borderCard-color: #e4e4e4;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--current-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
  outline: none;
  padding: 16px 35px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--active-text);
  background-color: var(--medium-blue);
  border-radius: 3px;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 1px solid var(--light-blue);
  border-radius: inherit;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: var(--light-blue);
  transition: background-color 0.3s ease-in;
}

.btn:active {
  background-color: var(--dark-blue);
  transition: background-color 0.3s ease-in;
}

.btn:active::after {
  opacity: 0;
}

.btn:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  border-bottom: 1px solid var(--border-color);
}

.section__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--header-color);
}

.section__descr {
  margin: 0;
  margin-bottom: 58px;
  text-align: center;
  font-size: 1.6rem;
}

/* header */
.header {
  padding: 29px 0;
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
  padding-top: 3px;
}

.header__nav {
  margin-right: 53px;
}

.header__list {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--header-color);
}

.header__item:not(:last-child) {
  margin-right: 53px;
}

.header__link {
  position: relative;
}

.header__link:focus {
  outline: 1px solid var(--light-blue);
  outline-offset: 3px;
}

.header__link:hover {
  color: var(--light-blue);
  transition: color 0.2s ease-in;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--medium-blue);
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
}

.header__link:active {
  color: var(--medium-blue);
  transition: color 0.2s ease-in;
  outline: none;
}

.header__link:active::after {
  transform: scaleX(1);
}

/* hero */
.hero {
  padding-top: 113px;
  padding-bottom: 134px;
  border-bottom: none;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__content {
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.hero__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--header-color);
}

.hero__descr {
  margin: 0;
  margin-bottom: 32px;
  width: 84%;
  font-size: 1.6rem;
  line-height: 1.6;
}

.hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  padding: 21px 58px;
}


.hero__secure {
  padding-left: 27px;
  font-size: 1.1rem;
  line-height: 1.5;
  text-transform: uppercase;
  background-image: url("../images/hero-secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
}

/* services */
.services__title {
  text-align: center;
  margin-bottom: 20px;
}

.services__item {
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 5px;
  border: 1px solid var(--borderCard-color);
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__item:hover {
  border-color: var(--medium-blue);
  background-color: var(--medium-blue);
  transition: border-color 0.3s ease-in, background-color 0.3s ease-in;
}

.services__item-icon {
  margin-bottom: 25px;
}

.services__item-icon path {
  fill: var(--medium-blue);
  transition: fill 0.3s ease-in;
}

.services__item:hover .services__item-icon path {
  fill: var(--active-text);
}


.services__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--header-color);
  transition: color 0.3s ease-in;
}

.services__item:hover .services__item-title {
  color: var(--active-text);
}

.services__item-descr {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.services__item:hover .services__item-descr {
  color: var(--active-text);
  transition: color 0.3s ease-in;
}

/* articles */
.articles__title {
  margin-bottom: 43px;
}

.articles__items {
  flex-wrap: wrap;
  gap: 30px;
}

.blog-preview {
  height: 100%;
}

.blog-preview__link:focus {
  background-color: var(--light-blue);
  transition: background-color 0.3s ease-in;
  outline: none;
}

.blog-preview__link:focus .blog-preview__title {
  color: var(--active-text);
}

.blog-preview__link:focus .blog-preview__descr {
  color: var(--active-text);
}

.blog-preview__link:focus .blog-preview__time {
  color: var(--active-text);
}


.blog-preview__link:hover {
  background-color: var(--medium-blue);
  transition: background-color 0.3s ease-in;
}

.blog-preview__link:hover .blog-preview__title {
  color: var(--active-text);
}

.blog-preview__link:hover .blog-preview__descr {
  color: var(--active-text);
}

.blog-preview__link:hover .blog-preview__time {
  color: var(--active-text);
}

.blog-preview__link:active {
  background-color: var(--dark-blue);
  transition: background-color 0.3s ease-in;
}

.blog-preview__link:hover .blog-preview__title {
  color: var(--active-text);
}

.blog-preview__link:active .blog-preview__descr {
  color: var(--active-text);
}

.blog-preview__link:active .blog-preview__time {
  color: var(--active-text);
}

.blog-preview {
  max-width: 570px;
  border-radius: 3px;
  border: 1px solid var(--borderCard-color);
  border-left: none;
  overflow: hidden;
}

.blog-preview__text {
  padding: 20px 30px;
  min-width: 400px;

}

.blog-preview__time {
  font-size: 1rem;
  line-height: 1.5;
}


.blog-preview__title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 214px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  word-wrap: break-word;
  color: var(--header-color);
}

.blog-preview__descr {
  margin: 0;
  max-width: 210px;
  line-height: 1.5;
  word-wrap: break-word;
}


/* clients */
.clients__title {
  margin-bottom: 42px;
}

.clients__items {
  gap: 30px;
}

.clients__item {
  padding: 50px 35px 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  border-radius: 5px;
  border: 1px solid var(--borderCard-color);
}

.clients__text {
  margin: 0;
  margin-bottom: 32px;
  max-width: 281px;
  text-align-last: left;
  line-height: 1.8;
}

.clients__user {
  margin-top: auto;
  padding: 24px 4px 0;
  align-items: center;
  border-top: 1px solid var(--borderCard-color);
}

.clients__avatar {
  margin-right: 14px;
  width: 72px;
  overflow: hidden;
}

.clients__avatar img {
  border: 2px solid var(--medium-blue);
  border-radius: 100%;
}

.clients__info {
  max-width: 135px;
}

.clients__name {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.8;
  color: var(--header-color);
}

.clients__post {
  line-height: 1.8;
}

/* contacts */
.contacts__title {
  margin-bottom: 107px;
}

.contacts__address {
  font-style: normal;
}

.contacts__items {
  gap: 30px;
}

.contacts__caption {
  margin-bottom: 30px;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.8;
  color: var(--header-color);
  text-transform: capitalize;
}

.contacts__item {
  padding-top: 49px;
  flex-direction: column;
  width: 370px;
  background-position: left top;
  background-size: 29px 29px;
  background-repeat: no-repeat;
}

.contacts__descr {
  max-width: 215px;
  line-height: 1.8;
}

.contacts__link {
  display: inline-block;
  line-height: 1.6;
}

.contacts__link:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__link:focus {
  outline: 1px solid var(--light-blue);
  outline-offset: 3px;
}

.contacts__link:hover {
  color: var(--light-blue);
  transition: color 0.3s ease-in;
}

.contacts__link:active {
  color: var(--dark-blue);
  outline: none;
}

/* join-us */
.join-us {
  padding-bottom: 123px;
}

.join-us__title {
  margin-bottom: 24px;
  text-align: center;
}

.join-us__descr {
  margin-bottom: 32px;
}

.join-us__form {
  padding: 0 55px;
}

.form__top {
  margin-bottom: 18px;
  gap: 19px;
}

.form__left {
  flex-wrap: wrap;
  gap: 19px;
  width: 50%;
}

.form__right {
  width: 50%;
}

.form__input {
  padding: 15px 28px;
  width: 250px;
  height: 60px;
  font-size: 1.6rem;
  line-height: 1.8;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  opacity: 0.6;
}

.form__input:focus {
  outline: none;
  border-color: var(--light-blue);
  background-color: rgba(113, 167, 226, 0.2);
}

.form__input:hover {
  border-color: var(--light-blue);
  transition: border-color 0.3s ease-in;
}

.form__input:active {
  border-color: var(--dark-blue);
}

.form__select {
  padding: 15px 23px;
  color: var(--header-color);
}

.form__textarea {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  resize: none;
}

.form__bottom {
  justify-content: flex-end;
}

.form__wrapper {
  flex-direction: column;
  align-items: center;
}

.form__btn {
  margin-bottom: 10px;
  padding-top: 23px;
  padding-bottom: 20px;
  min-width: 230px;
  border-radius: 50px;
}

.form__checkbox {
  font-size: 1.2rem;
}

.form__link {
  color: var(--medium-blue);
  border-bottom: 1px solid var(--medium-blue);
}

/* footer */
.footer {
  padding: 42px 0;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__copyright {
  font-size: 1.2rem;
}

.footer__nav {
  margin-right: 56px;
}

.footer__item:not(:last-child) {
  margin-right: 28px;
}

.footer__link {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.social {
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__link {
  display: block;
  width: 18px;
  height: 14px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social__link--twitter {
  background-image: url("../images/twitter.svg");
}

.social__link--linkedin {
  width: 17px;
  height: 16px;
  background-image: url("../images/linkedin.svg");
}

.social__link--mail {
  width: 24px;
  height: 18px;
  background-image: url("../images/mail.svg");
}
